
lib/*.js
lib/**/*.js

node_modules/*

*/.DS_Store

**/.DS_Store

.DS_Store

*.log

*.pid

lib/config.json

apps/build

apps/node_modules

public/javascripts/backbone-min.js

public/javascripts/handlebars.runtime.js

public/javascripts/underscore-min.js
