<form class="form-horizontal">
  <p class="lead">{{name}}: a {{description}}</p>

  <div class="control-group">
    <label class="control-label" for="userName">User</label>
    <div class="controls">
      <input type="text" id="userName" placeholder="email">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword2  ">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword2" placeholder="Password">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</form>